<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <bean id="adr" class="com.tca.APP03_constructor_refer_injection.Address">
       
        <property name="city" value="Barshi"></property>
           <property name="pincode" value="413401"></property>
           
       </bean>
       
       
       <bean id="crt" class="com.tca.APP03_constructor_refer_injection.Customer">
       
        <property name="customerid" value="101"></property>
        
           <property name="customername" value="AAA"></property>
           
         <property name="adress" ref="adr"></property>
       </bean>
       
</beans>     